<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianta.tc.db.mapper.TcSequenceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tianta.tc.db.entity.TcSequence">
        <id column="id" property="id"/>
        <result column="mid" property="mid"/>
        <result column="sequence_name" property="sequenceName"/>
        <result column="sequence_code" property="sequenceCode"/>
        <result column="sequence_order" property="sequenceOrder"/>
        <result column="create_time" property="createTime"/>
        <result column="creator" property="creator"/>
        <result column="status" property="status"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mid, sequence_name, sequence_code, sequence_order, create_time, creator, status
    </sql>

</mapper>
